.navbar{
    padding: 10px 0px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo {
    width: 60px;
    height: 60px;
   
    border-radius: 40px;
    margin-right: 5px;
}
.navbar-menu{
    display: flex;
    gap: 10px ;
    list-style: none;
    font-size: 22px;
    color: rgb(2, 94, 255);
   
}
.navbar-right{
    display: flex;
    gap: 40px;
    align-items: center;
    
}
.advertise img{
    width: 40px;
    border-radius: 50px;
}
.user{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
}
.navbar button{
    background-color: transparent;
    font-size: 16px;
    color: rgb(36, 35, 35);
    border: 1px solid tomato;
    border-radius: 50px;
    cursor:pointer; 
   transition: 0.3s;
    padding: 10px 30px;
}
.navbar button:hover{
    background-color: rgb(253, 123, 2);
    cursor: pointer;
}
.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(226, 10, 208);
}
.navbar li{
    cursor: pointer;
}
.search-icon1{
    margin-left: -70px;
    background-color: rgb(237, 220, 220);
    cursor: pointer;
}
.navbar-search-icon{
   
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
   
    min-width: 10px;
    min-height: 10px;
    background-color: rgb(255, 3, 112);
border-radius: 5px;
top: -12px;
right: -8px;

}
@media(max-width:1050px){
   .navbar.logo {
width: 140px;
    }
    .navbar{
        padding: 5px 0px ;
        gap: 5px;
        margin: 3px;
        justify-content: first baseline;
    }
    .navbar-menu{
        gap: 5px;
        font-size: 12px;
        margin-left: 3px;
        margin-right: 3px;
        color: red;
    }
   .navbar-right{
    gap: 10px;
  margin: 3px;
   }
   .navbar-right img{
width: 22px;
   }
  .navbar-right button{
    padding: 8px 25px;
  }
}
.navbar-profile{
    position: relative;
}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    outline: 2px solid white;
    padding: 12px 15px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    background-color: aliceblue;
}
.navbar-profile-dropdown li{
    display: flex;
    cursor: pointer;
    gap: 10px;
    align-items: center;

}
.navbar-profile-dropdown img{
    width: 20px;
}
.navbar-profile-dropdown li:hover{
    background-color: aquamarine;
}
@media(max-width:900px){
  
    .search-icon1{
        margin-left: -40px;
        background-color: rgb(237, 220, 220);
        cursor: pointer;
    }
    .navbar.logo {
        margin-right: 2px;
      margin-left: 2px;
        
 width: 10px;
     }
     
     .navbar-menu{
         gap: 10px;
         font-size: 16px;
     }
    .navbar-right{
     gap: 20px;
    }
    .navbar-right img{
 width: 15px;
 margin-left: 5px;
    }
   .navbar-right button{
     padding: 7px 20px;
     font-size: 15px;
   }
 }
 @media(max-width:750px){
     .navbar-menu{
       display: none;
     }
    
 }
