
  .search {  
    max-width: 900px;  
    margin: 0 auto;  
    padding: 20px;  
    background: white;  
    box-shadow: 0 2px 5px rgba(187, 29, 153, 0.1);  
    border-radius: 16px;  
  }  
  
    
  .search-here {  
    margin-bottom: 20px;  
    background-color: rgb(105, 99, 99);
    color: red;
  }  
  
  #search-card {  
    width: 100%;  
    padding: 10px;  
    border: 1px solid #0de0cf;  
    border-radius: 50px;  
    font-size: 20px;  
  }  
  
  
  .templeate-contener {  
    display: grid;  
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));  
    gap: 30px;  
  }  
  
  
  .template-searched {  
    background: #fff;  
    border: 1px solid #f70909;  
    border-radius: 8px;  
    padding: 5px;  
    text-align: center;  
    transition: transform 0.2s;  
  }  
  
  .template-searched:hover {  
    transform: scale(1.05);  
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
  }  
  
  .img-pro {  
    max-width: 100%;  
    height: auto;  
    border-radius: 4px;  
    margin-bottom: 10px;  
  }  
  
  .img-name {  
    font-size: 18px;  
    margin: 10px 0 5px;  
  }  
  
  .img-price {  
    font-size: 16px;  
    color: rgb(250, 10, 50);  
    margin: 5px 0;  
  }  
  
  .img-description, .img-category {  
    font-size: 14px;  
    color: hwb(101 2% 0%);
    width: 300px;  
    margin-left: 20px;
    
  }  
  .info{
    border: 1px solid rgb(236, 8, 236);
    border-radius: 15px;
    align-items: center;
    background-color: rgb(23, 23, 24);
    color: white;
  }
  .button-1{
    background-color: green;
    color: white;
    padding: 10px 20px ;
    border: none;
    border-radius: 20px;
  }
  .button-1:hover{
    background-color: rgb(10, 120, 247);
    color: white;
    padding: 10px 20px ;
    border: none;
    border-radius: 22px;
  }
  .button-2{
    background-color: rgb(250, 3, 86);
    color: white;
    padding: 10px 20px ;
    border: none;
    border-radius: 20px;
  }
  .button-2:hover{
    background-color: rgb(10, 10, 10);
    color: white;
    padding: 10px 20px ;
    border: none;
    border-radius: 20px;
  }
  
   
  @media (max-width: 600px) {  
    .templeate-contener {  
      grid-template-columns: 1fr; 
    }  
  }