.verify{
    min-height: 60vh;
    display: grid;
}
.verify.spinner{
    width: 100%;
    height: 100%;
    border: 5px solid rgb(231, 216, 221);
    place-self: center;
    border-radius: 50%;
    border-top-color: chocolate;
    animation: rotate 1s infinite;
}
@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}